*{
    border: solid rgb(255, 255, 255) 1px;
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.main-div{
    height: 800px;
    background-color: #004494;
    display: flex;
    justify-content: center;
}

.first-child{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-child{
flex-grow: 1;
}

.divider{
    height: 3px;
    background-color: white;
}

.second-child-fat{
    flex-grow: 3;
}