* {
    border: solid rgb(255, 255, 255) 0px;
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.main-div {
    height: 900px;
    background-color: #004494;
    display: flex;
    justify-content: center;
}

.first-child {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-child {
    flex-grow: 1;
}

.divider {
    height: 1px;
    background-color: white;
}

.second-child-fat {
    flex-grow: 3; 
    flex-direction: row;
}

.emodnet-font-1 {
    font: normal normal 400 1.5rem/1.75rem arial,sans-serif !important;
    font-weight: 700 !important;
}

.emodnet-footer-1 {
    padding-top: 1.5rem;
}

.emodnet-footer-1-1 {
    margin-top: .5rem;
}