* {
    border: solid rgb(250, 52, 52) 1px;
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

div {
    display: flex;
}

.main-div {
    height: 800px;
    background-color: #004494;
    display: flex;
    justify-content: center;
}

.first-child {
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-child {
    flex-grow: 1;
}

.divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.486);
}

.second-child-fat {
    flex-grow: 3; 
    flex-direction: row;
}

.emodnet-font-1 {
    font: normal normal 400 1.5rem/1.75rem arial,sans-serif !important;
    font-weight: 700 !important;
}

.emodnet-footer-1 {
    padding-top: 1.5rem;
}

.emodnet-footer-1-1 {
    margin-top: .5rem;
}


.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.grow-2{
    flex-grow: 2;
    flex-basis: 0;
}

.grow-1{
    flex-grow: 1;
    flex-basis: 0;
}

.row-gap-16{
    row-gap: 16px;
}

.column-gap-16{
    column-gap: 16px;
}

.margin-0{
    margin: 0px;
}

.padding-32{
    padding: 32px;
}

.white-link{
    color: white;
    text-decoration: none;
}

.white-link:hover{
    text-decoration: underline;
}